Author : Mukesh T P

Exercise 3

In [146]:
#import statements

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

Use the dataset, perform necessary pre-processing and build a logistic regression model. divide the train data itself into 70-30 ratio and print the performance metrics

In [147]:
data = pd.read_csv('telecom_customer_churn.csv')
data

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,1,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,1,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,0,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,0,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,0,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6584,9986-BONCE,Female,36,No,0,Fallbrook,92028,33.362575,-117.299644,0,...,Bank Withdrawal,20.95,85.50,0.00,0,8.04,93.54,0,Competitor,Competitor made better offer
6585,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,1,NaN,NaN
6586,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,0,Dissatisfaction,Product dissatisfaction
6587,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,1,NaN,NaN
6588,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,...,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,1,NaN,NaN

In [148]:
data = data.drop(['Customer ID','City'], axis = 1)
score = data.isnull().sum()
for i in data.columns:
    if (score[i] > 1000):
        data = data.drop(i, axis=1)

In [149]:
data.dropna(inplace=True)

In [150]:
data

,Gender,Age,Married,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Phone Service,...,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
0,Female,37,Yes,0,93225,34.827662,-118.999073,2,9,Yes,...,One Year,Yes,Credit Card,65.60,593.30,0.00,0,381.51,974.81,1
1,Male,46,No,0,91206,34.162515,-118.203869,0,9,Yes,...,Month-to-Month,No,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,1
2,Male,50,No,0,92627,33.645672,-117.922613,0,4,Yes,...,Month-to-Month,Yes,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,0
3,Male,78,Yes,0,94553,38.014457,-122.115432,1,13,Yes,...,Month-to-Month,Yes,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,0
4,Female,75,Yes,0,93010,34.227846,-119.079903,3,3,Yes,...,Month-to-Month,Yes,Credit Card,83.90,267.40,0.00,0,22.14,289.54,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6583,Female,53,No,0,93628,36.807595,-118.901544,0,1,Yes,...,Month-to-Month,Yes,Credit Card,70.15,70.15,0.00,0,42.09,112.24,0
6584,Female,36,No,0,92028,33.362575,-117.299644,0,4,Yes,...,Month-to-Month,No,Bank Withdrawal,20.95,85.50,0.00,0,8.04,93.54,0
6585,Female,20,No,0,91941,32.759327,-116.997260,0,13,Yes,...,One Year,No,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,1
6586,Male,40,Yes,0,95367,37.734971,-120.954271,1,22,Yes,...,Month-to-Month,Yes,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,0
6587,Male,21,Yes,0,92075,33.001813,-117.263628,5,67,Yes,...,Two Year,No,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,1

In [151]:
data.replace({'No': 0, 'Yes': 1}, inplace=True)
data

,Gender,Age,Married,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Phone Service,...,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
0,Female,37,1,0,93225,34.827662,-118.999073,2,9,1,...,One Year,1,Credit Card,65.60,593.30,0.00,0,381.51,974.81,1
1,Male,46,0,0,91206,34.162515,-118.203869,0,9,1,...,Month-to-Month,0,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,1
2,Male,50,0,0,92627,33.645672,-117.922613,0,4,1,...,Month-to-Month,1,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,0
3,Male,78,1,0,94553,38.014457,-122.115432,1,13,1,...,Month-to-Month,1,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,0
4,Female,75,1,0,93010,34.227846,-119.079903,3,3,1,...,Month-to-Month,1,Credit Card,83.90,267.40,0.00,0,22.14,289.54,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6583,Female,53,0,0,93628,36.807595,-118.901544,0,1,1,...,Month-to-Month,1,Credit Card,70.15,70.15,0.00,0,42.09,112.24,0
6584,Female,36,0,0,92028,33.362575,-117.299644,0,4,1,...,Month-to-Month,0,Bank Withdrawal,20.95,85.50,0.00,0,8.04,93.54,0
6585,Female,20,0,0,91941,32.759327,-116.997260,0,13,1,...,One Year,0,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,1
6586,Male,40,1,0,95367,37.734971,-120.954271,1,22,1,...,Month-to-Month,1,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,0
6587,Male,21,1,0,92075,33.001813,-117.263628,5,67,1,...,Two Year,0,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,1

In [152]:
string_columns = data.select_dtypes(include=['object']).columns
string_columns

Index(['Gender', 'Contract', 'Payment Method'], dtype='object')

In [153]:
data = pd.get_dummies(data, drop_first=True, dtype=int)
data

,Age,Married,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Phone Service,Avg Monthly Long Distance Charges,...,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Gender_Male,Contract_One Year,Contract_Two Year,Payment Method_Credit Card,Payment Method_Mailed Check
0,37,1,0,93225,34.827662,-118.999073,2,9,1,42.39,...,0.00,0,381.51,974.81,1,0,1,0,1,0
1,46,0,0,91206,34.162515,-118.203869,0,9,1,10.69,...,38.33,10,96.21,610.28,1,1,0,0,1,0
2,50,0,0,92627,33.645672,-117.922613,0,4,1,33.65,...,0.00,0,134.60,415.45,0,1,0,0,0,0
3,78,1,0,94553,38.014457,-122.115432,1,13,1,27.82,...,0.00,0,361.66,1599.51,0,1,0,0,0,0
4,75,1,0,93010,34.227846,-119.079903,3,3,1,7.38,...,0.00,0,22.14,289.54,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6583,53,0,0,93628,36.807595,-118.901544,0,1,1,42.09,...,0.00,0,42.09,112.24,0,0,0,0,1,0
6584,36,0,0,92028,33.362575,-117.299644,0,4,1,2.01,...,0.00,0,8.04,93.54,0,0,0,0,0,0
6585,20,0,0,91941,32.759327,-116.997260,0,13,1,46.68,...,0.00,0,606.84,1349.74,1,0,1,0,1,0
6586,40,1,0,95367,37.734971,-120.954271,1,22,1,16.20,...,0.00,0,356.40,2230.10,0,1,0,0,0,0
6587,21,1,0,92075,33.001813,-117.263628,5,67,1,2.12,...,0.00,0,142.04,4769.69,1,1,0,1,1,0

In [154]:
a = data['Customer Status']
data = data.drop('Customer Status',axis=1)
data = pd.concat([data,a], axis=1)

In [155]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [156]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3, random_state=0)

In [157]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [158]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [159]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 1, ..., 1, 1, 1])

In [160]:
accuracy = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Confusion Matrix:\n{confusion_mat}')
print(f'Classification Report:\n{classification_rep}')

Accuracy: 0.8643497757847534
Confusion Matrix:
[[ 404  111]
 [ 131 1138]]
Classification Report:
              precision    recall  f1-score   support

           0       0.76      0.78      0.77       515
           1       0.91      0.90      0.90      1269

    accuracy                           0.86      1784
   macro avg       0.83      0.84      0.84      1784
weighted avg       0.87      0.86      0.87      1784